*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
}

/* Utility*/
main{
    background-color: #141922;
    height:calc(100vh - 70px);
    overflow-y: hidden;
}

.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.text-white{
    color: white;
}
.text-grey{
    color: #797c80;
}

.overflow-scroll {
    overflow-y: scroll;
}
aside{
    width: 50px;
}
.logo{
    height: 30px;
    margin: 0.5rem 0;

}
.logo-small {
    display: none;
}
.sidebar{
    background-color: black;
    min-height: 400px;
    overflow-y: hidden;
    padding: 10px;
}
.sidebar-bottom{
    height: 100px;
    justify-content: flex-end;
    flex-direction: column;
    
}
.sidebar-top{
    height: calc(100% - 100px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar .playlist-main{
    display: none;
}
.nav-main img{
    height: 25px;
    vertical-align: middle;
}
.nav-main .label{
    vertical-align: middle;
    display: none;
}
.nav-main a{
    text-decoration: none;
    display: inline-block;
}
#select{
    color: white;
}

.content{
    width: calc(100% - 50px);
    background-color: #141922;
}
.content-nav{
    margin-top: 80px;
}
.cover-list{
    list-style: none;
}
.cover-item{
    width:50%;
    padding: 5px;
}
#cta{
    position: fixed;
    left:50px;
    height: 70px;
    background-color: rgba(8,11,18,0.5);
    width: calc(100% - 50px);
    text-align: right;
    line-height: 70px;
    z-index: 9999;
}
#cta a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
.btn {
    border-radius: 20rem;
    border: 1px solid white;
    padding: .5rem 2rem;
    margin-right: 1.5rem;
}
.navbar {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    list-style: none;
}
.navbar li {
    padding: 0.1rem 0.3rem; 
    font-size: 11px;
    font-weight: bold; 
    padding: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar a {
    text-decoration: none;
}
.border{
    width: 25px;
    height: 2px;
    background-color:#797c80;
    text-align: center;
    position: relative;
    top:50%;
    left: 30px;
    background-color:#adff2f;
}
.none {
    display: none;
}
.sidebar .sidebar-bottom {
    margin: 0 0.5rem;
}

hr {
    margin-bottom: 0.5rem;
    display: none;
}

.user i {
    clip-path: circle();
    background-color: #BBB9BD;
    font-size: 20px;
    vertical-align: middle;
}

.installer {
    margin: 0.5rem 0;

}
.installer a{
    text-decoration: none;
    font-size: 12px;
}
.installer i{
    padding-right: 5px;
}
.user span {
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 0 5px;
}
#created-for{
    padding: 20px;
}
#recently-player{
    padding: 20px;
}
#popular{
    padding: 20px;
}
.card img {
    width: 100%;
}
.card-img {
    position: relative;
}
.hide{
    display: none;
    color: white;
}
.card{
    width:100%;
    text-align: center;
}
.genere h4 {
    font-weight: bolder;
    font-size: 13px;
}
.sub {
    color: grey;
    font-size: 0.5rem;
}
.descript {
    font-size: 12px;
    margin-bottom: 20px;
}
.autors {
    clip-path: circle();
}


/*footer*/
footer{
    background-color: #282828;
    height: 70px;
    overflow: hidden;
    padding: 0px 10px;
}
.player {
    align-items: center;
    justify-content: space-between;
    max-width: 100%;   
}
/* footer left */
.left-part {
    align-items: center;
    width:calc(100% / 3);
    font-size: 0.6rem;
    flex-grow: 1;
}
.album-cover {
    width: 4rem;
    padding: 0.8rem;
}
.album-cover img {
    width: 100%;
}
.artist {
    padding: 0.1rem;
}
.artist-name{
    font-size: 14px;
}
.song-name{
    font-size: 12px;
}
.song-icons {
    padding: 0.5rem;
    font-size: 11px;
}
.song-icon {
    padding: .3rem;
}
/* footer central */
.central-part {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    width:calc(100% / 3);
}
.player-top ul {
    align-items: center;
    margin: 0 2rem;
    list-style: none;
}
.player-top li {
    padding: 0.3rem;
 }
 .player-top i {
    width: 1rem;
    font-size: 1rem; 
 }
 .player-bottom {
    width: 100%;
}
.time-start{
    font-size: 11px;
    font-weight: bold;
}
.time-end{
    font-size: 11px;
    font-weight: bold;
}
.time-bar{
    height: 10px;
    background-color:#797c80;
    border-radius: 5px;
}
.time-bar .time-bar-partial{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.time-start , .time-end{
    width: 10%;
    text-align: center;
    line-height: 5px;
}
.time-bar-progress{
    width: 80%;
}
.time-bar .time-current{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -3px;
    display: none;
}


/* footer right */
.right-part {
    width:calc(100% / 3);
    justify-content: end;
}
.right-part{
    align-items: center;
    width:calc(100% / 3);
    flex-grow: 1;
}
.right-part li{
    width: 50px;
}
.right-part ul{
    list-style: none;
}

.right-part i{
    padding: 10px;
    font-size: 10px;
}
.time-bar-right{
    height: 10px;
    background-color:#797c80;
    border-radius: 5px;
}
.right-part .time-bar-progress-right{
    width: 20%;
}
.time-bar-right .time-bar-partial{
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.time-bar-right .time-current{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -3px;
    display: none;
}
/* Parti bonus*/


.sidebar :hover{
    color: white;
}
.navbar a:hover {
    color: white;
}
.time-bar:hover .time-bar-partial{
    background-color: lightgreen;
}
.time-bar:hover .time-current{
    display: block;
}
.time-bar-right:hover .time-bar-partial{
    background-color: lightgreen;
}
.time-bar-right:hover .time-current{
    display: block;
}
.card img:hover{
    background-color: #171923;
    opacity: 0.5;
    position: relative;
}
.card-img img:hover + .hide{
    display: block;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* Responsive*/
@media screen and (min-width: 576px) {
    .sidebar{
        width: 200px;
    }
    .content{
        width: calc(100% - 200px);
    }
    #cta{
        width:calc(100% - 200px);
        left: 200px;
    }
    .navbar li {
        padding: 0.1rem 0.5rem; 
        font-size: 13px;
        font-weight: bold; 
        padding: 0.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .sidebar{
        padding: 20px;
    }
    .sidebar .playlist-main{
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .logo {
        display: none;
    }

    .logo-small {
        margin: 0.5rem 0;
        display: block;
        width: 150px;
    }
    .nav-main .label{
        vertical-align: middle;
        display: inline-block;
        font-size: 12px;
    }
    .playlist-main h3{
        color: white;
        font-size: 12px;
        margin: 1rem 0 0.3rem 0;
    }
    .playlist-main a{
        text-decoration: none;
        font-size: 12px;
    }
    .playlist-main .list-music{
        margin: 0.5rem 0;
        line-height: 2rem;
    }
    .plus {
        background-color: grey;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        padding: 2px 6px;
        margin-right: 0.2rem;
    }
    .sidebar .sidebar-bottom {
        margin: 0 0.5rem;
    }
    
    hr {
        margin-bottom: 0.5rem;
        display: block;
    }
    
    .user i {
        clip-path: circle();
        background-color: #BBB9BD;
        font-size: 20px;
        vertical-align: middle;
    }
    
    .installer {
        margin: 0.5rem 0;
    }
    .installer a{
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
    }
    .user span {
        color: white;
        font-weight: bold;
        font-size: 14px;
        vertical-align: middle;  
    }
    .none{
        display: inline-block;
    }
    .song-icons {
        flex-direction: column;
    }
    .artist .song-name{
        display: inline-block;
    }
    
}
@media screen and (min-width: 768px) {
    .cover-item{
        width: 25%;
    }
    .song-icons {
        flex-direction: row;
    }
    
}
@media screen and (min-width: 992px) {
    .cover-item{
        width: calc(100% / 6);
    }
    .song-icons {
        flex-direction: row;
    }
    .logo-small {
        margin: 0.5rem 0;
        display: block;
        width: 120px;
    }
    
}


