*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regole debug*/
.debug main{
    background-color: #141922;
}
.debug footer{
    background-color: #282828;
}
.debug .sidebar{
    background-color: black;
}
.debug .content{
    background-color: #141922;
}

/* Utility*/
main{
    height: calc(100vh - 100px);
}
footer{
    height: 100px;
}
.d-flex{
    display: flex;
}
aside{
    width: 50px;
}
.content{
    width: calc(100% - 50px);
}
/* Responsive*/

